.clearfix:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
    clear: both;
}

.kkfa-goods:hover {
    margin-top: -5px !important;
    transition: margin-top 0.3s ease;
}

.btns {
    background-color: #24bb78;
    color: #fff;
}

.btns:hover {
    cursor: pointer;
    background: #20A76B;
}